### Create Database Relations

### Aim
The end goal is to discover the relative frequencies of Spanish vocabulary between Spanish-speaking countries using the word frequency in this database.   
Therefore, we are interested in the words (found in the `lexicon` table) most frequently appearing in the corpora (`main_table`) by country (`text_source` table).

### Database description
- The `main_table` contains the corpora text, expanded so that each row is a single word, identified by numerical word ID (`wid` column) and source text ID (`textid` column).

- The `text_source` table contains the unique *corpus* entities, identified by the `textid` column. Each corpus/text is accompanied by the geographical source of the text (`country` column).  

- The `lexicon` table contains unique *word* entities, identified by integers in the `wid` column. Each word ID is accompanied by corresponding word and lemma strings (`wid` and `lemma` columns).

Connect to the corpus database created earlier

In [2]:
%load_ext sql
import configparser

In [3]:
config = configparser.ConfigParser()
config.read('private.cfg')
DB_NAME_DEFAULT = config.get('SQL', 'DB_NAME_DEFAULT')
DB_USER = config.get('SQL', 'DB_USER')
DB_PASSW = config.get('SQL', 'DB_PASSW')

conn_string = "postgresql://{}:{}@127.0.0.1/escorpus".format(DB_USER, DB_PASSW)
%sql $conn_string

List all tables and column info

In [4]:
%%sql SELECT column_name, data_type, character_maximum_length, numeric_precision 
FROM information_schema.columns 
WHERE table_name = 'main_table';

 * postgresql://postgres:***@127.0.0.1/escorpus
3 rows affected.

[('textid', 'integer', None, 32),
 ('seqid', 'bigint', None, 64),
 ('wid', 'integer', None, 32)]

In [26]:
%%sql SELECT column_name, data_type, character_maximum_length, numeric_precision
FROM information_schema.columns 
WHERE table_name = 'lexicon';

 * postgresql://postgres:***@127.0.0.1/escorpus
4 rows affected.

[('wid', 'integer', None, 32),
 ('word', 'character varying', 50, None),
 ('lemma', 'character varying', 50, None),
 ('pos', 'character varying', 15, None)]

In [10]:
%%sql SELECT column_name, data_type, character_maximum_length, numeric_precision 
FROM information_schema.columns 
WHERE table_name = 'text_source';

 * postgresql://postgres:***@127.0.0.1/escorpus
4 rows affected.

[('textid', 'integer', None, 32),
 ('nwords', 'integer', None, 32),
 ('genre', 'character varying', 1, None),
 ('country', 'character varying', 2, None)]

### Relations
- Join `lexicon` and `main_table` tables by `wid` (one to many)
- Join `text_source` and `main_table` tables by `textid` (one to many)

In [6]:
%%sql SELECT main_table.textid, main_table.wid, lexicon.word, lexicon.lemma, lexicon.pos, text_source.country
FROM main_table
RIGHT JOIN lexicon ON lexicon.wid = main_table.wid
RIGHT JOIN text_source ON text_source.textid = main_table.textid
LIMIT 10;

 * postgresql://postgres:***@127.0.0.1/escorpus
10 rows affected.

[(124, 11707993, '@@124', 'NULL', 'NULL', 'AR'),
 (124, 7634, 'Gran', 'gran', 'o', 'AR'),
 (124, 4419, 'convocatoria', 'convocatoria', 'nfs', 'AR'),
 (124, 23, 'para', 'para', 'e', 'AR'),
 (124, 7, 'el', 'el', 'ld-ms', 'AR'),
 (124, 5962, 'docente', 'docente', 'jms', 'AR'),
 (124, 10, 'que', 'que', 'cs', 'AR'),
 (124, 15, 'se', 'se', 'po', 'AR'),
 (124, 6, 'en', 'en', 'e', 'AR'),
 (124, 4, 'la', 'la', 'ld-fs', 'AR')]

Establish foreign keys

In [24]:
%sql ALTER TABLE main_table DROP CONSTRAINT IF EXISTS fk_wid;

 * postgresql://postgres:***@127.0.0.1/escorpus
Done.

[]

In [28]:
%%sql ALTER TABLE main_table
ADD CONSTRAINT fk_wid
FOREIGN KEY (wid)
REFERENCES lexicon (wid);

 * postgresql://postgres:***@127.0.0.1/escorpus
Done.

[]

In [25]:
%sql ALTER TABLE main_table DROP CONSTRAINT IF EXISTS fk_textid;

 * postgresql://postgres:***@127.0.0.1/escorpus
Done.

[]

In [27]:
%%sql ALTER TABLE main_table
ADD CONSTRAINT fk_textid
FOREIGN KEY (textid)
REFERENCES text_source (textid);

 * postgresql://postgres:***@127.0.0.1/escorpus
Done.

[]

In [26]:
%%sql SELECT main_table.textid, main_table.wid, lexicon.word, lexicon.lemma, text_source.country
FROM main_table, lexicon, text_source
WHERE lexicon.wid = main_table.wid 
AND text_source.textid = main_table.textid
LIMIT 10;

 * postgresql://postgres:***@127.0.0.1/escorpus
10 rows affected.

[(124, 11707993, '@@124', 'NULL', 'AR'),
 (124, 7634, 'Gran', 'gran', 'AR'),
 (124, 4419, 'convocatoria', 'convocatoria', 'AR'),
 (124, 23, 'para', 'para', 'AR'),
 (124, 7, 'el', 'el', 'AR'),
 (124, 3038, 'concurso', 'concurso', 'AR'),
 (124, 5962, 'docente', 'docente', 'AR'),
 (124, 10, 'que', 'que', 'AR'),
 (124, 15, 'se', 'se', 'AR'),
 (124, 1532, 'realiza', 'realizar', 'AR')]

Create a new table with the relevant information only

In [29]:
%%sql CREATE TABLE word_source AS 
SELECT main_table.textid, main_table.wid, lexicon.word, lexicon.lemma, text_source.country
FROM main_table, lexicon, text_source
WHERE lexicon.wid = main_table.wid 
AND text_source.textid = main_table.textid;

 * postgresql://postgres:***@127.0.0.1/escorpus
2344452 rows affected.

[]

Check number of words attributed to each country.

In [52]:
%%sql SELECT COUNT(wid), country
FROM word_source
GROUP BY country
ORDER BY COUNT(wid) DESC;

 * postgresql://postgres:***@127.0.0.1/escorpus
21 rows affected.

[(528258, 'ES'),
 (286231, 'MX'),
 (208283, 'US'),
 (199201, 'AR'),
 (174540, 'CO'),
 (121427, 'PE'),
 (115673, 'GT'),
 (84743, 'UY'),
 (83608, 'CL'),
 (72748, 'VE'),
 (59283, 'EC'),
 (54380, 'HN'),
 (52152, 'NI'),
 (51114, 'CU'),
 (50201, 'PY'),
 (40344, 'DO'),
 (39235, 'BO'),
 (38226, 'SV'),
 (32021, 'PA'),
 (27679, 'CR'),
 (25105, 'PR')]