### Run Database Creation and Test
- Run the `create_corpus_db.py` script to create the Spanish corpus database from pandas dataframes 
- Test with simple SQL queries

In [2]:
# Run the script to create the database from pandas dfs
%run create_corpus_db.py

#### Test queries

In [1]:
%load_ext sql
import configparser

In [3]:
# Read the config file to get connection params 
config = configparser.ConfigParser()
config.read('config.cfg')
DB_NAME_DEFAULT = config.get('SQL', 'DB_NAME_DEFAULT')
DB_USER = config.get('SQL', 'DB_USER')
DB_PASSW = config.get('SQL', 'DB_PASSW')

# Connect to the corpus database just created
conn_string = "postgresql://{}:{}@127.0.0.1/escorpus".format(DB_USER, DB_PASSW)
%sql $conn_string

Check: count rows in each table

In [4]:
%sql SELECT COUNT(*) FROM main_table;

 * postgresql://postgres:***@127.0.0.1/escorpus
1 rows affected.

[(2344452,)]

In [5]:
%sql SELECT COUNT(*) FROM lexicon;

 * postgresql://postgres:***@127.0.0.1/escorpus
1 rows affected.

[(141088,)]

In [20]:
%sql SELECT COUNT(*) FROM text_source;

 * postgresql://postgres:***@127.0.0.1/escorpus
1 rows affected.

[(2103,)]

Check: select first few rows

In [7]:
%sql SELECT * FROM main_table LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/escorpus
5 rows affected.

[(124, 2511368388, 11707993),
 (124, 2511368389, 7634),
 (124, 2511368390, 4419),
 (124, 2511368391, 23),
 (124, 2511368392, 7)]

In [8]:
%sql SELECT * FROM lexicon LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/escorpus
5 rows affected.

[(1, ',', '$,', 'y'),
 (2, 'de', 'de', 'e'),
 (3, '.', '$.', 'y'),
 (4, 'la', 'la', 'ld-fs'),
 (5, 'y', 'y', 'cc')]

In [24]:
%sql SELECT * FROM text_source LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/escorpus
5 rows affected.

[(124, 268, 'b', 'AR'),
 (1124, 679, 'b', 'AR'),
 (2124, 1100, 'b', 'AR'),
 (4124, 3445, 'b', 'AR'),
 (5124, 403, 'b', 'AR')]

Looking good.

In [25]:
%sql CLOSE ALL

 * postgresql://postgres:***@127.0.0.1/escorpus
Done.

[]